.login-container h3 {
  position:absolute;
  width:100%;
  left:0;
  top:14%;
  margin:0 auto;
}

.logo-container {
  text-align:center;
  padding-top:10%;
  margin-bottom:20px;
}

.home {
  padding-top:20px;
}

.error {
  position:absolute;
  bottom:25px;
  left:44px!important;
}

.logo {
  height:50px;
}

.login-box h5 {
  padding-top:30px;

}

.login-box{
  margin-top:15%;
  padding:10px 20px;
  left:0;
  position:relative;
  right:0;
  margin:auto;
  width:500px;
}


.logo-container {
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}

.logo-container img {
	height:50px;
	max-width:100%;
}

.nav {
	background:#fff;
}

nav ul a {
	color:#9a0000!important;
	text-transform:uppercase;
}


.login-form {
  width:90%;
  margin:0 auto;
}

nav {
	background:#fff!important;
	border:none;
	box-shadow:none!important;
	margin-bottom:30px;
}

.login {
	float:right;
	position:absolute;
	right:30px;
	top:30px;
}

.login a {
	color:#9a0000!important;
}

nav ul li{
	float:none!important;
	display:inline-block!important;
}

.login-form button {
  margin-bottom:30px;
}

/* loader */

.loader:empty,
.loader:empty:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  top:25%;
}

.loader-container {
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
  background:#fff;
  z-index:90000;
  top:0;
  left:0;
}

.loader:empty {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #9a0000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width:992px) {
	nav ul li{
		float:left;
		display:block;
	}
	nav .button-collapse i {
		color:#9a0000;
	}
}
